@charset "utf-8";
.jumbotron {
    height: 700px;
    background-image: url("../img/timon-studler-ABGaVhJxwDQ-1920.jpg"); 
}
.container .dark-box {
    color: #fff;
    background-color: rgba(0,0,0,0.50);    
}
.container .hero-texto {
    width: 70%;
    margin: 30px auto 0 auto;
}
