@charset "utf-8";
.hero-img {
  height: 700px;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
  background-color: #e9ecef;
  background-image: url("../img/daria-1274.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container .dark-box {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
.container .hero-texto {
  width: 70%;
  margin: 30px auto 0 auto;
}
.jumbotron-light-blue {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  /* background-color: #03507f; */
  border-radius: 0.3rem;
}
.text-gray {
  color: #e9ecef;
}
button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}
