* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  /* Box model */
  font-size: 62.5%;
}
body {
  /* Box model */
  font-family: var(--font-mukta-body);
  font-size: 1.6rem;
  background-color: var(--bg-primary);
}
h1 {
  /* Box model */
  font-family: var(--font-assistant-h1);
  font-weight: bold;
  font-size: var(--size-h1);
}
h2 {
  /* Box model */
  font-family: var(--font-fira-h2);
  font-weight: 500;
  font-size: var(--size-h2);
}
p {
  /* Box model */
  font-family: var(--font-assistant-h1);
  font-weight: 400;
  font-size: 1.6rem;
}

.container {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding: 60px 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Positioning */
/* Box model */
/* Typographic */
/* Visual */
/* Misc */
