#sec-main-menu {
  width: 600px;
  margin: 0 auto;
  border: 1px solid red;
}
#sec-main-menu .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

#sec-main-menu .row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
}

#sec-main-menu .column {
  width: 33%;
  padding: 10px;
}
