#sec-main-menu {
  /* Box model */
  min-width: 375px;
  margin: 0 auto;
  border: 1px solid red;
}
@media (min-width: 576px) {
  #sec-main-menu {
    /* Box model */
    width: 576px;
  }
}
@media (min-width: 768px) {
  #sec-main-menu {
    /* Box model */
    width: 576px;
  }
}
#sec-main-menu .container {
  /* Box model */
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border: 1px solid green;
}
#sec-main-menu .container .column {
  border: 1px solid blue;
}
/* Positioning */
/* Box model */
/* Typographic */
/* Visual */
/* Misc */
