#router {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 10px;
}

#router a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
  padding: 1.6rem 3.2rem;
}

#router a:hov er {
  background-color: #ddd;
}

#router a.active {
  background-color: #555;
  color: #fff;
}
.page {
  display: none;
  margin: 20px;
  padding: 20px
