* {
  /* Box model */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Box model */
  font-size: 62.5%;
}
body {
  /* Box model */
  font-size: 1.6rem;
}
h1 {
  /* Typographic */
  font-family: var(--font-assistant-h1);
  font-weight: bold;
  font-size: 4rem;
}
h2 {
  /* Typographic */
  font-family: var(--font-fira-h2);
  font-size: 2.7rem;
}
p {
  /* Typographic */
  font-family: var(--font-mukta-body);
}
/* Positioning */
/* Box model */
/* Typographic */
/* Visual */
/* Misc */
