@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&family=Fira+Sans+Condensed:wght@400;500&family=Mukta+Vaani:wght@400;600&display=swap");

:root {
  /***** COLORS *****/
  --color-primary: #2274a5;
  --color-secondary: #557b83;
  --color-text-primay: #050401;
  --bg-primary: #e6e6ea;
  --border: #ceced0;

  /***** Typography *****/
  --font-assistant-h1: "Assistant", sans-serif;
  --font-fira-h2: "Fira Sans Condensed", sans-serif;
  --font-mukta-body: "Mukta Vaani", sans-serif;
  --size-h1: 3.6rem;
  --size-h2: 2rem;
  --size-body: 1.6rem;
}
